/* General Styles */

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Roboto";
	text-align: center;
}

h1, h2 {
	font-family: "Ubuntu";
}

h1 {
	font-size: 6em;
	padding-top: 5%;
}

h2 {
	font-size: 2em;
}

p {
	display: inline;
}

button {
	font-size: 1em;
}

#chat {
	text-align: left;
	background-color: #ddd;
	border-radius: 0.3em;

	display: inline-block;

	margin-top: 2em;
	padding: 1em;

	width: 50em;
	height: 30em;

	overflow-x: auto;
	overflow-y: scroll;
}

#admintools {
	z-index: 1000;
	position: absolute;
	top: 1em;
	right: 1em;
}

@media (max-width: 50.5em) {
  #chat {
  	width: 100%;
  }
}
